<section>
    <div>
        <div class="f jc-sb">
            <div class="box-fl shadow w20 pC5 bg_c_white">
                <input type="text" placeholder="문제지의 제목을 입력하세요.">
            </div>
            <input type="button" value="페이지 추가" class="box shadow w10 pC5 bg_c_white">
        </div>

        <div class="box shadow w60 h75 pC5 mt2 bg_c_white">
            <div class="paper">
                <div class="paper_0-section1">    
                    <div class="problem-wrap">
                        <div class="problem-number">1번</div>
                        <div class="problem">문제를 드래그해서 놓아주세요</div>
                    </div>
                    
                    <div class="problem-wrap">                                
                        <div class="problem-number">2번</div>
                        <div class="problem">문제를 드래그해서 놓아주세요</div>
                    </div>

                    <div class="problem-wrap">
                        <div class="problem-number">3번</div>
                        <div class="problem">문제를 드래그해서 놓아주세요</div>
                    </div>
                </div>

                <div class="paper_0-section2">
                    <div class="problem-wrap">
                        <div class="problem-number">4번</div>
                        <div class="problem">문제를 드래그해서 놓아주세요</div>
                    </div>
                    <div class="problem-wrap">
                        <div class="problem-number">5번</div>
                        <div class="problem">문제를 드래그해서 놓아주세요</div>
                    </div>
                    <div class="problem-wrap">
                        <div class="problem-number">6번</div>
                        <div class="problem">문제를 드래그해서 놓아주세요</div>
                    </div>
                </div>               
            </div>
            <div class="paper-page">
                (1/N) page
            </div>
        </div>    
    </div>
</section>
<aside>
    <div class="box-fl shadow w50 pC5 bg_c_white">
        <i class="icofont-search-2 icofont-2x c-gray"></i>
        <input type="text" placeholder="문제 검색">
        <select name="" id="">
            <option> ::학년:: </option>
        </select>

        <select name="" id="">
            <option> ::대단원:: </option>
        </select>

        <select name="" id="">
            <option> ::중단원:: </option>
        </select>

        <select name="" id="">
            <option> ::소단원:: </option>
        </select>
    </div>

    <div class="result-wrap box shadow w50 pC5 mt2 bg_c_white">
        <div class="result-nav">
            <div class="result-count">
                N 개
            </div>
            <div class="result-option">
                상 <input type="checkbox">
                중 <input type="checkbox">
                하 <input type="checkbox">
            </div>
        </div>
        <div class="result-section">
            <div class="problem-box box w_p95 mt1 bg_c_white" draggable="true" ondragstart="drag()"  ondragend="dragEnd()">
                
                <div class="problem-info">
                    <div class="info-cate">
                        중학생 1학년 > 수와 연산 > 소인수분해 > 최대공약수
                    </div>

                    <div class="info-level">
                        상 중 하
                    </div>
                </div>

                <div class="problem-cate">
                    문제 제목
                </div>

                <div class="tooltip">
                    <span class="tooltiptext">문제 미리보기#1</span>
                    <i class="icofont-eye icofont-2x"></i>
                </div>

            </div>

            <div class="problem-box box-fl w_p95 mt1 bg_c_white" draggable="true" ondragstart="drag()" ondragend="dragEnd()">

            </div>

            <div class="problem-box box-fl w_p95 mt1 bg_c_white" draggable="true" ondragstart="drag()" ondragend="dragEnd()">

            </div>

            <div class="problem-box box-fl w_p95 mt1 bg_c_white" draggable="true" ondragstart="drag()" ondragend="dragEnd()">

            </div>

            <div class="problem-box box-fl w_p95 mt1 bg_c_white" draggable="true" ondragstart="drag()" ondragend="dragEnd()">

            </div>

            <div class="problem-box box-fl w_p95 mt1 bg_c_white" draggable="true" ondragstart="drag()" ondragend="dragEnd()">

            </div>

            <div class="problem-box box-fl w_p95 mt1 bg_c_white" draggable="true" ondragstart="drag()" ondragend="dragEnd()">

            </div>

            <div class="problem-box box-fl w_p95 mt1 bg_c_white" draggable="true" ondragstart="drag()" ondragend="dragEnd()">

            </div>                      
        </div>
    </div>
</aside>