<section>
    <div>
        <div class="f jc-sb">
            <div class="box-fl pC5 w100 jc-sb">
                <div class="box shadow w45 h25 pC5 m2 bg_c_white cur-p" onclick="">
                    문제 랜덤 생성
                </div>
                <div class="box shadow w45 h25 pC5 m2 bg_c_white cur-p" onclick="goToUrl(2, 'createPaper')">
                    문제 직접 생성
                </div>
            </div>
        </div>

        <div class="f jc-sb mt2">
            <div class="box-fl shadow w45 pC5 bg_c_white">
                <i class="icofont-search-2 icofont-2x c-gray"></i>
                <input type="text" placeholder="문제지의 검색하세요.">
            </div>
        </div>

        <div class="box shadow w100 h60 pC5 mt2 bg_c_white">

        </div>    
    </div>
</section>