<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/layout.css">
    <link rel="stylesheet" href="../../lib/icofont/icofont.min.css">
    <script defer="defer" src="../../assets/js/common.js"></script>
    <script defer="defer" src="../../conf/pluger.js"></script>
</head>
<body>
    <section class="center mt15 fd-c">
        <%-body%>
    </section>
</body>
</html>