<form action="/login/login_process" method="POST">
<div class="box-fl shadow w25 p1 bg_c_white">
    <i class="icofont-email icofont-2x c-1"></i>    
    <input type="text" name="m_id" id="id" placeholder="아이디(이메일)">
</div>

<div class="box-fl shadow w25 p1 bg_c_white mt1">
    <i class="icofont-ui-password icofont-2x c-1"></i>    
    <input type="text" name="m_pw" id="pw1" placeholder="비밀번호">
</div>

<div class="box-fl shadow w25 p1 bg_c_white mt1">
    <i class="icofont-ui-password icofont-2x c-1"></i>    
    <input type="text" id="pw2" placeholder="비밀번호 재 확인">
</div>

<div class="box-fl shadow w25 p1 bg_c_white mt1">  
    <select name="m_roll" id="roll" class="w_p100 ta-c">
        <option value=""> 직원 </option>
        <option value="elementary">초등학생</option>
        <option value="middle">중학생</option>
        <option value="high">고등학생</option>
        <option value="college">학부생</option>
        <option value="master">석사</option>
        <option value="doctor">박사</option>
        <option value="academy_teacher">학원 강사</option>
        <option value="school_teacher">학교 선생</option>
        <option value="officer">직장인</option>
        <option value="parents">학부모</option>
    </select>
</div>

<div class="box-fl jc-sa">
    <input type="submit" value="회원가입" class="shadow bg_c_white w20 p1 mt1">
</div>

</form>


<a href="join.html"> 회원가입 </a>