    <div class="box-fl shadow w25 p1 bg_c_white mt1 fs1C5 jc-sa">
        <span class="w5">찾아낸 아이디</span> 
        <span> zz12****@***er.com </span>
    </div>
    

    
    <a class="fs1C5 mt1" onclick="goToUrl(0, 'login')"> 로그인 하러가기 </a>
    <a class="fs1C5 mt1" onclick="goToUrl(1, 'findPw')"> 비밀번호 찾기 </a>
    