
<form action="/login/process/findEmail_process" method="post">
    <div class="box-fl shadow w25 p1 bg_c_white mt1">
        <i class="icofont-smart-phone icofont-2x c-1"></i>
        <input type="tel" name="m_phone" id="phone" minlength="10" placeholder="전화번호" required>
    </div>

    <div class="box-fl jc-sa">
        <input type="submit" value="아이디(이메일) 찾기" class="shadow bg_c_white w20 p1 mt1 cur-p">
    </div>
</form>

<a class="fs1C5 mt1" onclick="goToUrl(0, 'login')"> 로그인 하러가기 </a>