<form action="/login/process/findPw_process">
    <div class="box-fl shadow w25 p1 bg_c_white">
        <i class="icofont-email icofont-2x c-1"></i>    
        <input type="text" name="m_id" id="id" placeholder="아이디(이메일)" required>
    </div>


    <div class="box-fl jc-sa">
        <input type="submit" value="비밀번호 찾기" class="shadow bg_c_white w20 p1 mt1 cur-p">
    </div>
</form>

<a class="fs1C5 mt1" onclick="goToUrl(0, 'login')"> 로그인 하러가기 </a>
